@media screen and (max-width: 450px) {

    /* navbar */
    header {
        width: 100%;
        padding: 2rem 5rem;
        position: absolute;
        background-color: rgb(172, 208, 172);
    }
    nav {
        display: none;
        height: 85vh;
        width: 70%;
        position: absolute;
        left: 0%;
        /* background-color:  rgba(0, 0, 0, 0.827); */
        /* background-color: wheat; */
        background-color: rgb(172, 208, 172);
        justify-content: center;
        align-items: center;
        z-index: 1;
        margin-top: 6.5rem;
        gap: 2rem;
    }
    nav ul {
        background-color: rgb(172, 208, 172);
        list-style: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: center;
        gap: 5rem;
        height: 85vh;
    }
    nav ul li {
        padding: 0px;
        gap: 2rem;
    }
    header svg {
        display: block;
        color: orangered;
        font-weight: bold;
    }
    header nav a {
        font-size: 1.5rem;
    }
    header nav a:hover{
        color: green;
        cursor: pointer;
    }
    #menu {
        display: initial;
        cursor: pointer;
    }

    .Main {
        flex-direction: column;
        align-items: center;
        padding: 1rem;
    }

    #feedback_form_module {
        padding: 1rem;
    }
 ;
    textarea,
    .input-box,
    form button {
        width: 90%;
        max-width: 350px; /* Adjust maximum width for smaller screens */
    }

    .input-box input {
        font-size: 14px;
        padding-left: 1rem;
    }

    form button {
        width: 90%;
        font-size: 1rem;
    }

    footer {
        width: 100vw;
    }
}
